<!-- Launching all required nodes for playing Tic Tac Toe with Baxter -->
<launch>

    <include file="$(find baxter_tictactoe)/launch/board_sensor.launch" />

    <!-- Range thresholds for the red tokens -->
    <rosparam param = "ttt_controller/hsv_red">
        H: [160,  20]
        S: [ 40, 196]
        V: [ 50, 196]
    </rosparam>

    <!-- Range thresholds for the blue tokens -->
    <rosparam param = "ttt_controller/hsv_blue">
        H: [ 60, 130]
        S: [ 90, 256]
        V: [ 10, 256]
    </rosparam>

    <rosparam param = "ttt_controller/tile_pile_position">[0.6937, -0.5924, -0.0635,0.5794, -0.5895, 0.5767, -0.4803, 0.4469, -0.5912, 0.4417, -0.4695]</rosparam>

    <!-- 3D positions of the corners of the board -->
    <rosparam param = "ttt_controller/board_corner_poss">
        TL: [0.8114, -0.0493, -0.053]
        TR: [0.8134, -0.2801, -0.053]
        BR: [0.5714, -0.2895, -0.053]
        BL: [0.5704, -0.0452, -0.053]
    </rosparam>

    <rosparam param="ttt_controller/num_games">1</rosparam>
    <rosparam param="ttt_controller/cheating_games">[2, 3]</rosparam>
    <!-- <param name="ttt_controller/voice"       type="str" value="voice_cmu_us_jmk_arctic_clunits" /> -->
    <param name="ttt_controller/voice"       type="str" value="voice_kal_diphone" />
    <param name="ttt_controller/robot_color" type="str" value=             "blue" />

    <node name="tictactoe_brain" pkg="baxter_tictactoe" type="tictactoe_brain" respawn="false" output="screen" required="true"/>
    
    <node name="animator" pkg="baxter_face_animation" type="animator_server_with_different_expressions.py" respawn="true" output="screen" />

    <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py" required="true"/>
</launch>
